{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-8 text-center mt-3">
<table class="table table-light">
    <tr>
        <th colspan="3">
            <h1 class="text text-primary">Genre List</h1>
        </th>
        <th>
            <a class="text-decoration-none" href="{{ path('genre_add') }}">
                <img src="{{ asset('images/buttons/add.png') }}" width="40" height="40">
            </a>
        </th>
    </tr>
    <tr>
        <th class="text text-success">Genre Id</th>
        <th class="text text-success">Genre Name</th>
        <th class="text text-success">Genre Image</th>
        <th class="text text-success">Actions</th>
    </tr>
    {% for genre in genres %}
        <tr>
            <td>{{ genre.id }}</td>
            <td>{{ genre.name }}</td>
            <td>
                <a class="text-decoration-none" href="{{ path('genre_detail', {'id' : genre.id }) }}">
                    <img src="{{ genre.image }}" width="100" height="100">
                </a>
           </td>
            <td>
                <a class="text-decoration-none" href="{{ path('genre_detail', {'id' : genre.id }) }}">
                    <img src="{{ asset('images/buttons/detail.png') }}" width="40" height="40">
                </a>
                <a class="text-decoration-none" href="{{ path('genre_edit', {'id' : genre.id }) }}">
                    <img src="{{ asset('images/buttons/edit.png') }}" width="40" height="40">
                </a>
                <a class="text-decoration-none" href="{{ path('genre_delete', {'id' : genre.id }) }}"
                onclick="return confirm('Are you sure to delete this genre ?');"
                >
                    <img src="{{ asset('images/buttons/delete.png') }}" width="40" height="40">
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
</div>
{% endblock %}