{% extends 'base.html.twig' %}

{% block body %}
	<table class="table table-success text-center">
		<tr>
			<th colspan="5">MOVIE LIST ({{ movies | length }})</th>
			<th>
				<h1>
					<a class="btn btn-primary" href="{{ path('movie_add')}}">CREATE</a>
				</h1>
			</th>
		</tr>
		<tr>
			<th colspan="3">
				Sort by name:
				<select class="form-control" onchange="window.location.href = this.value">
					<option>Select one</option>
					<option value="{{ path('sort_movie_name_asc')}}">Ascending</option>
					<option value="{{ path('sort_movie_name_desc')}}">Descending</option>
				</select>
			</th>
			<th colspan="3">
				Search by name:
				<form class="form-group" action="{{ path('search_movie')}}" method="post">
					<input class="form-control" type="search" name="keyword">
				</form>
			</th>
		</tr>
		<tr>
			<th>Movie Id</th>
			<th>
				<a href="{{ path('sort_movie_name_asc')}}">
					<img src="{{ asset('icons/up.png')}}" width="30" height="30"></a>
				Movie Name
				<a href="{{ path('sort_movie_name_desc')}}"><img src="{{ asset('icons/down.png')}}" width="30" height="30"></a>
			</th>
			<th>Movie Image</th>
			<th>Movie Category</th>
			<th>Movie Actor(s)</th>
			<th>Actions</th>
		</tr>
		{% for movie in movies %}
			<tr>
				<td>{{ movie.id }}</td>
				<td>{{ movie.name }}</td>
				<td>
					<a href="http://">
						<img src="{{ movie.image }}" width="100" height="100">
					</a>
				</td>
				<td>
					<a href="{{ path('category_detail',{'id': movie.category.id})}}">
						{{ movie.category.name }}
					</a>
				</td>
				<td>
					{% for actor in movie.actors %}
						{{ actor.name }}
						<br>
					{% endfor %}
				</td>
				<td>
					<a class="btn btn-warning" href="http://">UPDATE</a>
					<a class="btn btn-danger" href="http://">REMOVE</a>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
